@media screen and (max-width: 1920px) {
  /* mobile */
  /* nav */
  .nav_wrap_m {
    display: none;
  }

  /* banner */
  .banner_wrap_m {
    display: none;
  }

  /* lineup */
  .option_select {
    display: none;
  }
}

@media screen and (max-width: 1260px) {
  /* benefit */
  .benefit_item_inner {
    padding: 30px 20px 20px;
  }

  /* explorer */
  .explorer_item_img {
    max-width: 630px;
  }

  .explorer_inner {
    flex-direction: column;
    align-items: center;
  }
  
  .explorer_inner_cont:first-child {
    margin-right: 0;
    margin-bottom: 60px;
  }

  .explorer_inner_cont {
    max-width: 708px;
    width: 100%;
  }

  .inner_cont_left strong {
    width: 120px;
  }

  .model .inner_img,
  .inner_cont_left span,
  .inner_cont_right {
    width: 240px;
  }
}

@media screen and (min-width:800px) and (max-width: 1200px) {
  /* lineup */
  .lineup_select_layer {
    padding: 0 40px;
  }

  /* event */
  .event_cont_set {
    padding: 0 14px;
  }
}

@media screen and (max-width: 1024px) {
  /* benefit */
  .benefit_item {
    width: 33.333%;
    padding: 0;
  }

  .benefit_item:last-child {
    display: none;
  }

  .benefit_item_inner {
    margin: 0 8.5px;
    padding: 8.333%;
    width: calc(100% - 17px);
  }

  /* lineup */
  .lineup_cont {
    max-width: 964px;
  }

  .lineup_tabmenu_cont_list:last-child {
    display: none;
  }

  .lineup_select {
    padding: 0;
  }

  .modal_inner {
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }

  .modal_txt,
  .modal_txt h2 {
    text-align: center;
  }

  .modal_txt strong {
    display: none;
  }

  .modal_txt_list {
    justify-content: center;
  }

  .modal_btn {
    margin-top: 50px;
  }

  .modal_inner_right {
    width: 100%;
  }

  .modal_arrow {
    left: 170px;
  }

  /* filter_bar */
  .filter_bar {
    padding: 30px 0;
    height: 250px;
  }

  .filter_cont {
    flex-direction: column;
    text-align: center;
  }

  /* explorer */
  .explorer_cont_top {
    padding: 0;
    max-width: 709px;
    width: 100%;
  }

  .explorer_tabmenu_txt {
    flex-direction: column;
    align-items: flex-start;
  }

  .explorer_tabmenu_txt span {
    margin-left: 0;
  }

  .explorer_tabmenu_list {
    align-items: flex-end;
  }

  .explorer_cont_bottom {
    padding: 0;
    max-width: 709px;
    width: 100%;
  }

  .explorer_item_wrap {
    display: block;
    position: relative;
  }

  .explorer_item_txt {
    justify-content: center;
    margin-top: 30px;
  }

  .explorer_model_tit h3 {
    font-size: 18px;
    font-weight: 800;
    display: inline;
  }

  .explorer_model_tit span {
    display: inline;
    font-size: 16px !important;
    font-weight: 100;
    margin-top: 0;
    margin-left: 15px;
  }

  .explorer_item_btn {
    position: absolute;
    right: 0;
    top: 1vh;
  }

  .inner_box_tit {
    display: flex;
    align-items: center;
  }

  .inner_box_tit p {
    margin-top: 0;
    margin-left: 30px;
  }

  /* reservation_bar */
  .reservation_bar {
    padding: 30px 0;
    height: 250px;
  }

  .reservation_cont {
    flex-direction: column;
    text-align: center;
  }

  /* news */
  .news_container {
    padding: 0 30px;
  }

  /* footer */
  #footer {
    padding: 40px 40px;
  }

  .footer_menu {
    margin-left: 30px;
  }
}

@media screen and (max-width: 990px) {
  /* news */
  .news_cont_txt {
    width: 33.3333%;
  }

  .tag {
    top: 20px;
    left: 20px;
  }

  .news_cont_desc span {
    padding: 0 20px;
  }
}

@media screen and (max-width: 800px) {
  h2 {
    font-size: 27px;
  }
  h3 {
    font-size: 16px;
  }

  /* nav */
  .nav_wrap {
    display: none;
    top: 55px;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .nav_top {
    width: 100%;
    height: 48px;
    background:var(--sec-navy);
    padding: 0;
  }

  .nav_top_menu {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .nav_top_menu_inner {
    color: var(--sec-white);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav_top_menu_inner a,
  .lan-select {
    width: 100%;
    text-align: center;
    padding: 0 5px;
  }

  .nav_top_menu_inner .btn-link::after,
  .nav_top_menu_inner .lan-select::after {
    display: none;
  }

  .nav_top_menu_inner:last-child,
  .nav_top_menu_inner:nth-child(6) {
    display: none;
  }

  .logo {
    display: none;
  }

  .nav_bottom {
    padding: 0;
  }

  .nav_bottom_menu {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .nav_bottom_menu_list {
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
  }

  .nav_bottom_menu_list a {
    padding: 20px 30px;
    width: 100%;
    bottom: none;
  }

  .nav_bottom_menu_list img {
    width: 49px;
  }

  .nav_wrap_m {
    display: block;
  }

  .sub_wrap {
    opacity: 0;
  }

  /* banner */
  .banner_wrap {
    display: none;
  }

  .banner_wrap_m {
    display: block;
  }

  /* banner_m */
  .banner_btn_wrap {
    padding: 8.8vw 20px 57px;
  }

  .banner_btn {
    justify-content: center;
  }

  .banner_btn a {
    width: calc(50% - 5px);
  }

  /* login */
  .login_txt {
    flex-direction: column;
  }

  .login_txt span {
    align-items: center;
    text-align: center;
    margin-right: 0;
  }

  .login_before {
    margin-top: 10px;
  }

  /* benefit */
  .benefit {
    padding: 50px 15px;
  }

  .benefit_layer {
    margin-top: 30px;
  }

  .benefit_set {
    margin: 0;
  }

  .benefit_item {
    width: 100%;
    padding: 0;
  }

  .benefit_item:not(:nth-child(2)) {
    display: none;
  }

  .benefit_btn_wrap a {
    width: calc(50% - 5px);
  }

  .benefit_pagin {
    display: none;
  }

  /* lineup */
  .lineup {
    padding: 50px 0 30px 0;
  }

  .option_select {
    display: block;
    width: 100%;
    height: 60px;
    padding: 0 10px;
    align-items: center;
    text-align: center;
    color: var(--sec-white);
    background: var(--sec-6-grey);
    position: relative;
    font-size: 16px;
  }

  .option_select::after {
    content: '';
    position: absolute;
    display: inline-block;
    right: 15px;
    top: 50%;
    width: 7px;
    height: 4.5px;
    background: url(../img/blit_down_arr_mobile.png) no-repeat 50%/contain;
    transform: translateY(-50%);
  }

  .option {
    display: block;
  }

  .option_list {
    width: 100%;
    height: 50px;
    background: var(--sec-6-grey);
    margin: 0;
    display: none;
  }

  .option_list button {
    padding: 0;
    margin: 0;
    height: 100%;
    color: var(--sec-white);
  }

  .lineup_tabmenu_list button.active {
    border-bottom: 0;
    color: var(--sec-4-grey);
    background: var(--sec-white);
  }

  .lineup_tabmenu_cont ul {
    padding: 0 2.5%;
  }

  .lineup_tabmenu_cont_list:nth-child(3),
  .lineup_tabmenu_cont_list:nth-child(4) {
    display: none;
  }

  .lineup_tabmenu_cont_list {
    min-width: 123px;
    max-width: 246px;
    width: 100%;
    height: auto;
  }

  .modal_inner {
    padding: 40px 20px 40px 30px;
  }

  .modal_arrow {
    left: 230px;
  }

  .modal_inner_left {
    width: 100%;
  }

  .modal_txt h2, .modal_txt span {
    font-size: 21px;
  }

  .modal_txt p {
    font-size: 13px;
  }

  .modal_txt_list {
    flex-direction: column;
    align-items: center;
  }

  .modal_txt_list li:first-child {
    border-right: none;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .modal_txt_list li p {
    margin: 0;
    padding-right: 15px;
  }

  .modal_txt_list li span {
    padding: 0;
  }

  .modal_btn {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
  }

  .modal_btn a {
    width: calc(50% - 10px);
    margin-top: 10px;
  }

  .modal_inner_right {
    max-width: 450px;
    min-width: 225px;
  }

  /* filter_bar */
  .filter_bar {
    background: url(../img/bg_main_filter_m.jpg) no-repeat;
    background-position: 50%;
    padding: 30px 15px;
    height: auto;
    background-size: cover;
  }

  .filter_txt {
    display: none;
  }

  .filter_box_wrap {
    flex-direction: column;
    width: 100%;
  }

  .filter_box_wrap a:first-child {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .filter_box_wrap a {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 15px;
  }

  .filter_box_wrap a i {
    width: 40px;
    height: 40px;
    background-size: cover;
    position: static;
    margin-right: 15px;
  }

  .filter_box_wrap a span {
    font-size: 14px;
  }

  .filter_box_wrap a p {
    font-size: 12px;
  }

  .filter_box_wrap .filter_bar_search {
    background-position: -138px 0;
  }
  .filter_box_wrap .filter_bar_find {
    background-position: -96px 0;
  }

  /* explorer */
  .explorer {
    padding-top: 50px;
  }

  .inner_box_tit {
    flex-direction: column;
    align-items: flex-start;
  }

  .explorer_cont_top {
    margin-top: 30px;
  }

  .explorer_tabmenu {
    flex-direction: column;
    padding: 0 15px;
  }
  
  .explorer_tabmenu_txt > span {
    font-size: 14px;
    margin-top: 15px;
  }

  .explorer_tabmenu_list {
    justify-content: flex-start;
    margin: 30px 0 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }

  .explorer_tabmenu_list li button {
    padding: 0 10px;
  }

  .explorer_item {
    padding: 0 15px;
  }

  .explorer_item_tit .explorer_model_tit h3 {
    display: block;
  }

  .explorer_item_tit .explorer_model_tit span {
    margin-left: 0;
    margin-top: 15px;
  }

  .explorer_item_txt {
    margin: 30px 0;
    justify-content: start;
    flex-direction: column;
  }

  .explorer_item_txt li {
    flex-direction: row;
    justify-content: start;
    border-right: none;
    margin-bottom: 15px;
  }

  .explorer_item_txt li span {
    margin: 0;
    padding-right: 15px;
  }

  .explorer_item_txt li p {
    font-size: 14px;
  }

  .explorer_item_img {
    max-width: 225px;
  }

  .explorer_inner_wrap {
    padding: 0 15px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .inner_box {
    padding: 30px 20px;
  }

  .inner_box_tit p {
    font-size: 13px;
    margin-left: 0;
    margin-top: 15px;
  }

  .inner_line_txt {
    flex-direction: column;
  }

  .inner_line_txt strong,
  .inner_txt_wrap strong {
    font-size: 14px;
    margin-bottom: 10px;
    width: 100%;
  }

  .inner_input_wrap {
    width: 100%;
  }

  .inner_txt_wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .txt_input_wrap {
    width: 100%;
  }
  
  .amount,
  .price {
    font-size: 16px;
  }

  .inner_btn_wrap {
    justify-content: center;
  }

  .inner_cont {
    flex-direction: column;
  }

  .inner_cont_left {
    background: var(--sec-bg-grey);
    margin-bottom: 15px;
  }

  .inner_cont_left strong {
    font-size: 14px;
    width: 32%;
    padding: 10px 0 10px 15px;
  }

  .inner_cont_left span {
    padding: 10px 0;
    width: auto;
  }

  .model .inner_img {
    padding: 10px 0;
    width: auto;
  }

  .model .inner_img img {
    width: 50%;
  }

  .inner_cont_right {
    width: 100%;
    min-height: 190px;
  }

  /* reservation_bar */
  .reservation_bar {
    background: url(../img/bg_main_testdriving_m.png) no-repeat;
    background-position: 50%;
    padding: 30px 15px;
    height: auto;
    background-size: cover;
  }

  .reservation_txt {
    display: none;
  }

  .reservation_box_wrap {
    flex-direction: column;
    width: 100%;
  }

  .reservation_box_wrap a:first-child {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .reservation_box_wrap a {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 15px;
  }

  .reservation_box_wrap a i {
    width: 40px;
    height: 40px;
    background-size: cover;
    position: static;
    margin-right: 15px;
  }

  .reservation_box_wrap a span {
    font-size: 14px;
  }

  .reservation_box_wrap a p {
    font-size: 12px;
  }

  .reservation_box_wrap .reservation_box_driving {
    background-position: -223px 0;
  }
  .reservation_box_wrap .reservation_box_sale {
    background-position: -180px 0;
  }

  /* event */
  #event {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .event_cont {
    margin-top: 30px;
    width: 100%;
  }
    
  .event_cont_set {
    flex-direction: column;
    align-items: center;
  }

  .event_item {
    margin-bottom: 50px;
    width: 100%;
    padding: 0 30px;
  }

  .event_item_txt p,
  .event_item_txt > span {
    font-size: 14px;
    margin-top: 20px;
  }

  .event_item_txt .event_item_tit {
    font-size: 16px;
    margin-top: 15px;
  }

  .event_item_txt a {
    width: 100%;
  }

  /* news */
  #news {
    padding-top: 50px;
  }

  .news_tag_wrap {
    margin-top: 30px;
  }

  .news_cont {
    margin-top: 30px;
  }

  .news_cont_txt {
    width: 50%;
  }

  /* footer */
  #footer {
    padding: 30px 40px;
  }
  .footer_top {
    position: relative;
  }

  .footer_logo {
    position: absolute;
    left: 10px;
    top: auto;
    bottom: 140px;
  }

  .footer_logo img {
    width: 45px;
  }

  .footer_menu {
    width: 100%;
    margin-left: 0;
  }

  .footer_menu ul {
    padding: 0;
    overflow: hidden;
  }

  .footer_menu ul li {
    width: 50%;
    margin: 7px 0;
    padding-bottom: 20px;
    float: left;
  }

  .footer_menu ul li::after {
    display: none;
  }

  .service {
    margin: 7px 0;
    padding-bottom: 20px;
  }

  .copyright {
    padding: 26px 0 26px 80px;
    border-top: 1px solid #2a2a2a;
    border-bottom: 1px solid #2a2a2a;
  }

  .footer_site {
    width: 100%;
    margin-top: 40px;
  }

  .social {
    justify-content: center;
  }

  /* footer */
  .footer_bottom ul li {
    flex-direction: column;
  }
}