@media screen and (max-width: 1260px) {
/* benefit */
.benefit_item_inner {
  padding: 30px 20px 20px;
}

  /* explorer */
  .explorer_item_img {
    max-width: 630px;
  }

  .explorer_inner {
    flex-direction: column;
    align-items: center;
  }
  
  .explorer_inner_cont:first-child {
    margin-right: 0;
    margin-bottom: 60px;
  }

  .explorer_inner_cont {
    max-width: 708px;
    width: 100%;
  }

  .inner_cont_left strong {
    width: 120px;
  }

  .model .inner_img,
  .inner_cont_left span,
  .inner_cont_right {
    width: 240px;
  }
}

@media screen and (max-width: 1200px) {
  .lineup_select_layer {
    padding: 0 40px;
  }
}

@media screen and (max-width: 1024px) {
  /* nav */
  .nav_bottom {
    padding: 0 30px;
  }

  /* benefit */
  .benefit_item {
    width: 33.333%;
    padding: 0;
  }

  .benefit_item:last-child {
    display: none;
  }

  .benefit_item_inner {
    margin: 0 8.5px;
    padding: 8.333%;
    width: calc(100% - 17px);
  }

  /* lineup */
  .lineup_cont {
    max-width: 964px;
  }

  .lineup_tabmenu_cont_list:last-child {
    display: none;
  }

  .lineup_select {
    padding: 0;
  }

  .modal_inner {
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }

  .modal_txt,
  .modal_txt h2 {
    text-align: center;
  }

  .modal_txt strong {
    display: none;
  }

  .modal_txt_list {
    justify-content: center;
  }

  .modal_btn {
    margin-top: 50px;
  }

  .modal_inner_right {
    width: 100%;
  }

  /* filter_bar */
  .filter_bar {
    padding: 30px 0;
    height: 250px;
  }

  .filter_cont {
    flex-direction: column;
    text-align: center;
  }

  /* explorer */
  .explorer_cont_top {
    padding: 0;
    max-width: 709px;
    width: 100%;
  }

  .explorer_tabmenu_txt {
    flex-direction: column;
    align-items: flex-start;
  }

  .explorer_tabmenu_txt span {
    margin-left: 0;
  }

  .explorer_tabmenu_list {
    align-items: flex-end;
  }

  .explorer_cont_bottom {
    padding: 0;
    max-width: 709px;
    width: 100%;
  }

  .explorer_item_wrap {
    display: block;
    position: relative;
  }

  .explorer_item_txt {
    justify-content: center;
    margin-top: 30px;
  }

  .explorer_model_tit h3 {
    font-size: 18px;
    font-weight: 800;
    display: inline;
  }

  .explorer_model_tit span {
    display: inline;
    font-size: 16px !important;
    font-weight: 100;
    margin-top: 0;
    margin-left: 15px;
  }

  .explorer_item_btn {
    position: absolute;
    right: 0;
    top: 1vh;
  }

  .inner_box_tit {
    display: flex;
    align-items: center;
  }

  .inner_box_tit p {
    margin-top: 0;
    margin-left: 30px;
  }

  /* reservation_bar */
  .reservation_bar {
    padding: 30px 0;
    height: 250px;
  }

  .reservation_cont {
    flex-direction: column;
    text-align: center;
  }

  /* news */
  .news_container {
    padding: 0 30px;
  }
}

@media screen and (max-width: 990px) {
  /* news */
  .news_cont_txt {
    width: 33.3333%;
  }

  .tag {
    top: 20px;
    left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .nav_bottom_menu_list a {
    line-height: 0;
  }
}