:root {
  /* Color */
  --sec-white: #ffffff;
  --sec-black: #000000;
  --sec-light-blue: #007fa8;
  --sec-dark-blue: #518aa4;
  --sec-navy: #002c5f;
  --sec-1-grey: #999999;
  --sec-2-grey: #888888;
  --sec-3-grey: #767676;
  --sec-4-grey: #666666;
  --sec-5-grey: #555555;
  --sec-6-grey: #444444;
  --sec-7-grey: #1c1b1b;
  --sec-bg-grey: #f6f3f2;
}

button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
}

ul {
  margin-bottom: 0;
}

h2 {
  font-size: 44px;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 30px;
  font-weight: 600;
}

.icon {
  background: url(../img/ico_main_bar.webp) no-repeat 0 0;
  width: 62px;
  height: 62px;
  position: absolute;
  top: 24px;
  left: 30px;
  display: inline-block;
}

/* skip */
#skip {
  position: relative;
}

#skip a {
  position: absolute; 
  left: 0px; 
  top: -35px; 
  border: 1px solid #fff; 
  color: #fff; 
  background: #002C5F; 
  line-height: 30px; 
  width: 100%;
  text-align: center;
}

#skip a:active,
#skip a:focus {
  top: 0;
}

/* nav */
#nav {
  width: 100%;
}

.nav_top {
  border-bottom: 1px solid #e5e5e5;
  padding: 0 30px;
}

.nav_top_menu {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding: 9px 0;
}

.nav_top_menu_inner a {
  padding: 0 15px;
  font-size: 12px;
  color: var(--sec-light-grey);
}

.nav_top_menu_inner button {
  padding: 0 15px;
  font-size: 12px;
  color: var(--sec-light-grey);
}

.nav_top_menu_inner .btn-link::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 11px;
  margin: -1px 0 0 6px;
  background: url(../img/icon.png) no-repeat;
  background-position: 0 -19px;
  border: none;
}

.nav_top_menu_inner .lan-select::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -2px;
  margin-left: 5px;
  border-top: 5px solid #000;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
}

.nav_top_menu_inner .btn-search::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin-left: 7px;
  background: url(../img/icon.png) no-repeat;
  background-position: 0 0;
  opacity: 0.5;
}

.nav_bottom {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.nav_bottom_menu {
  display: flex;
  align-items: center;
}

.nav_bottom_menu_list {
  padding: 0 15px;
}

.nav_bottom_menu_list a {
  display: inline-block;
  font-size: 16px;
  color: var(--sec-dark-grey);
  line-height: 30px;
}

.nav_bottom_menu_list img {
  margin-top: 6px;
}

.nav_bottom_menu_list a.active {
  color: var(--sec-light-blue);
  font-weight: 600;
}

.sub_wrap {
  position: absolute;
  top: 109px;
  left: 0;
  right: 0;
  z-index: 4;
  background: var(--sec-white);
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  display: none;
}

.sub_cont {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.sub_cont h4 {
  width: 15%;
  font-size: 15px;
  color: var(--sec-black);
  text-align: center;
}

.icon_menu {
  width: calc(100% - 200px);
  padding: 0 0 40px 35px;
  border-left: 1px solid #e5e5e5;
}

.icon_menu ul {
  display: flex;
  flex-wrap: wrap;
}

.icon_menu ul li {
  width: 20%;
  min-width: 130px;
  height: 105px;
  position: relative;
}

.icon_menu ul li a {
  width: 100%;
  height: 100%;
  font-size: 15px;
  padding-top: 60px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  color: var(--sec-4-grey);
  font-weight: 500;
}

.icon_menu ul li a:hover {
  color: var(--sec-light-blue);
}

.icon_menu ul li::before {
  content: "";
  display: block;
  position: absolute;
  top: 70%;
  width: 1px;
  height: 48px;
  margin-top: -24px;
  background: #e5e5e5;
}
.icon_menu ul li:nth-child(1)::before {
  content: "";
  display: none;
}
.icon_menu ul li:nth-child(6)::before {
  content: "";
  display: none;
}

.btn_mycar {
  background: url(../img/icon_mycar_gnb.png) center no-repeat;
}
.btn_mycar:hover {
  background: url(../img/icon_mycar_gnb_on.png) center no-repeat;
}

.btn_benefit {
  background: url(../img/icon_gift_gnb.png) center no-repeat;
}
.btn_benefit:hover {
  background: url(../img/icon_gift_gnb_on.png) center no-repeat;
}

.btn_consult {
  background: url(../img/icon_purchase_gnb.png) center no-repeat;
}
.btn_consult:hover {
  background: url(../img/icon_purchase_gnb_on.png) center no-repeat;
}

.btn_driving {
  background: url(../img/icon_drive_gnb.png) center no-repeat;
}
.btn_driving:hover {
  background: url(../img/icon_drive_gnb_on.png) center no-repeat;
}

.btn_price {
  background: url(../img/icon_catalog_price.png) center no-repeat;
}
.btn_price:hover {
  background: url(../img/icon_catalog_pric_on.png) center no-repeat;
}

.btn_calc {
  background: url(../img/icon_calc_gnb.png) center no-repeat;
}
.btn_calc:hover {
  background: url(../img/icon_calc_gnb_on.png) center no-repeat;
}

.btn_recommend {
  background: url(../img/icon_mycarsearch.png) center no-repeat;
}
.btn_recommend:hover {
  background: url(../img/icon_mycarsearch_on.png) center no-repeat;
}

.btn_comperison {
  background: url(../img/icon_comperison.png) center no-repeat;
}
.btn_comperison:hover {
  background: url(../img/icon_comperison_on.png) center no-repeat;
}

.btn_search {
  background: url(../img/icon_searchfilter.png) center no-repeat;
}
.btn_search:hover {
  background: url(../img/icon_searchfilter_on.png) center no-repeat;
}

.btn_spac {
  background: url(../img/icon_spac.png) center no-repeat;
}
.btn_spac:hover {
  background: url(../img/icon_spac_on.png) center no-repeat;
}

/* nav_mobile */
.nav_m {
  padding: 18px 15px;
  background-color: var(--sec-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_m {
  width: 35px;
  height: 18px;
}

.nav_tit_m span {
  font-weight: 600;
}

.nav_menu_m .search-btn {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/icon_gnb_search.png) no-repeat;
  background-size: 16px 16px;
  margin-left: 10px;
}

.nav_menu_m .menu-btn {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.nav_menu_m .menu-btn span {
  position: relative;
  height: 2px;
  width: 100%;
  display: block;
  background-color: var(--sec-black);
}

.nav_menu_m .menu-btn span::before {
  content: '';
  height: 2px;
  width: 100%;
  display: block;
  background-color: var(--sec-black);
  transform: translateY(-6px);
}

.nav_menu_m .menu-btn span::after {
  content: '';
  height: 2px;
  width: 100%;
  display: block;
  background-color: var(--sec-black);
  transform: translateY(4px);
}

/* banner */
#banner {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

.banner_wrap.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.banner_set.swiper-slide {
  transform: translateX(-100%);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.banner {
  position: relative;
  width: 100%;
}

.banner_btn_wrap {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 1180px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 4.9vw 30px calc(4.169vw + 78px);
}

.banner_btn {
  display: flex;
  width: 100%;
  margin-top: auto;
}

.banner_btn a {
  width: 120px;
  height: 40px;
  background: var(--sec-navy);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--sec-white);
  font-size: 15px;
  margin-left: 10px;
  text-align: center;
}

.banner_btn a:first-child {
  margin-left: 0;
}

.scrollbar_wrap {
  display: block;
  width: 1120px;
  max-width: calc(100% - 60px);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  margin: 0 auto 38px;
  opacity: 1;
}

.scrollbar {
  overflow: hidden;
  position: relative;
  height: 3px;
}

.banner_wrap:hover .scrollbar {
  overflow: visible;
}

.scrollbar_txt_set {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.scrollbar_txt_set li {
  width: 19.4%;
}

.scrollbar_txt {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: left;
  width: 100%;
  height: 100%;
  padding: 0 8% 20px;
  color: var(--sec-2-grey);
  border-bottom: 3px solid var(--sec-5-grey);
}

.scrollbar_txt:hover {
  color: var(--sec-white);
  border-color: #fff;
}

.scrollbar_txt.active {
  color: var(--sec-white);
  border-color: #fff;
}

.scroll_control_btn {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  bottom: -8px;
}

.scroll_control {
  margin-top: 15px;
  position: relative;
  width: 18px;
  height: 18px;
  background: #575757;
  border-radius: 10px;
  vertical-align: middle;
}

.banner_next,
.benefit_next {
  right: 0 !important;
  width: 44px !important;
  font-size: 30px;
  color: var(--sec-white) !important;
  background-color: rgba(31,45,61,.4);
}

.banner_prev,
.benefit_prev {
  left: 0 !important;
  width: 44px !important;
  font-size: 30px;
  color: var(--sec-white) !important;
  background-color: rgba(31,45,61,.4);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

/* login */
.login {
  background-color: var(--sec-bg-grey);
}

.login_container {
  max-width: 1120px;
  margin: 0 auto;
  height: 110px;
}

.login_txt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

.login_txt span {
  font-size: 16px;
  color: var(--sec-4-grey);
  margin-right: 45px;
  display: flex;
  flex-wrap: wrap;
}

footer_bottom {
  display: flex;
}

.login_before_inner {
  position: relative;
  padding: 0;
  margin: 0 15px;
  color: var(--sec-navy);
  font-size: 16px;
  font-weight: 600;
}

.login_before_inner:last-child::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -15px;
  display: block;
  height: 14px;
  border-left: 1px solid #999;
  transform: translateY(-50%);
}

/* tab menu */
.tab_menu {
  max-width: 1120px;
  margin: 0 auto;
}

.tab_menu_wrap {
  display: flex;
  width: 100%;
}

.tab_menu_wrap li {
  width: 50%;
}

.tab_menu_btn.active {
  background: #fff;
  color: #000;
}

.tab_menu_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  font-size: 15px;
  font-weight: 600;
  background: var(--sec-6-grey);
  color: var(--sec-white);
}

.tab-content{
  display: none;
}

.tab-content.active{
  display: inherit;
}

/* tabmenu1 newcar*/
/* benefit */
.benefit {
  padding: 80px 0 60px;
}

.benefit_layer {
  margin-top: 60px;
}

.benefit_set {
  display: flex;
  margin: 0 21px 60px;
}

.benefit_item {
  width: 25%;
  height: 100%;
  padding: 0 9px;
}

.benefit_item_inner {
  display: flex;
  flex-direction: column;
  padding: 35px 38px 30px;
  background: var(--sec-bg-grey);
}

.benefit_item_inner h4 {
  min-height: 105px;
  font-size: 20px;
  font-weight: 800;
}

.benefit_item_inner strong {
  color: var(--sec-light-blue);
  font-size: 24px;
  margin-top: 35px;
  margin-bottom: 18px;
}

.benefit_item_inner p {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 18px;
}

.benefit_btn_wrap {
  display: flex;
  justify-content: center;
}

.benefit_btn_wrap a:first-child {
  margin-right: 10px;
}

.benefit_btn_wrap a {
  width: 120px;
  height: 40px;
  font-size: 15px;
  color: var(--sec-white);
  background: var(--sec-navy);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  bottom: 0 !important;
}

.swiper-pagination > .swiper-pagination-bullet {
  margin: 12px 8px !important;
  width: 12px;
  height: 12px;
  background-color: rgba(0,0,0,.8);
  
}
.swiper-pagination > .swiper-pagination-bullet-active {
  width: 12px; 
  transition: width 0.5s;
  border-radius: 12px; 
  background: var(--sec-light-blue); 
  transition: all ease 0.8s;
  opacity: 1;
}


/* lineup */
.lineup {
  padding: 80px 0 80px;
  background-color:var(--sec-bg-grey);
}

.lineup_cont {
  max-width: 1180px;
  margin: 30px auto 0;
}

.lineup_tabmenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lineup_tabmenu_list {
  margin: 0 15px;
  min-width: 50px;
}

.lineup_tabmenu_list button {
  width: 100%;
  height: 60px;
  padding: 0 10px;
  align-items: center;
  text-align: center;
  color: var(--sec-4-grey);
}

.lineup_tabmenu_list button.active {
  border-bottom: 4px solid var(--sec-light-blue);
  color: var(--sec-light-blue);
}

.lineup_tabmenu_list button span {
  font-size: 15px;
  font-weight: 400;
}

.lineup_tabmenu_cont_wrap {
  margin-top: 30px;
}

.lineup_tabmenu_cont:not(:first-of-type) {
  display: none;
}

.lineup_tabmenu_cont_wrap ul {
  display: flex;
  justify-content: center;
}

.lineup_tabmenu_cont_list {
  margin: 0 30px;
  width: 160px;
  height: 160px;
  text-align: center;
  color: var(--sec-black);
}

.lineup_tabmenu_cont_list img:hover {
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.lineup_tabmenu_cont_list strong {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  transition: all 0.2s ease;
}

.lineup_tabmenu_cont_list strong.active {
  color: var(--sec-light-blue);
}

.lineup_tabmenu_cont_list span {
  display: inline-block;
  margin-top: 10px;
}

.lineup_select {
  margin-top: 45px;
  padding: 0 0 80px;
  background: var(--sec-white);
  display: none;
}

.lineup_select_layer {
  margin: 0 auto;
  position: relative;
  max-width: 1180px;
  width: 100%;
  height: auto;
  text-align: left;
}

.modal_arrow {
  content: "";
  position: absolute;
  display: inline-block;
  top: -12px;
  left: 140px;
  width: 24px;
  height: 24px;
}

.modal_arrow::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal_inner {
  display: flex;
  padding-top: 80px;
  justify-content: space-between;
}

.modal_txt h2 {
  text-align: left;
}

.modal_txt p {
  margin-top: 10px;
  font-size: 20px;
}

.modal_txt strong {
  margin-top: 30px;
  font-size: 16px;
  display: block;
}

.modal_txt span {
  margin-top: 5px;
  font-size: 30px;
  font-weight: 700;
  display: block;
}

.modal_txt_list {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
}

.modal_txt_list li:first-child {
  margin-right: 25px;
  border-right: 1px solid #ccc;
}

.modal_txt_list li p {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}

.modal_txt_list li span {
  display: inline-block;
  font-size: 16px;
  padding-right: 25px;
  color: var(--sec-4-grey);
  font-weight: 600;
}

.modal_btn {
  margin-top: 60px;
  text-align: left;
  display: flex;
}

.modal_btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  font-size: 15px;
  color: var(--sec-white);
  background: var(--sec-navy);
  margin-right: 10px;
}

.modal_btn a:last-child {
  margin-right: 0;
}

.modal_inner_right {
  width: 600px;
}

.modal_inner2 {
  display: none;
}

/* filter_bar */
.filter_bar {
  width: 100%;
  padding: 50px 0;
  background: url(../img/bg_main_filter.webp) no-repeat;
  display: flex;
  justify-content: center;
  background-size: cover;
}

.filter_cont {
  max-width: 1200px;
  width: 100%;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter_txt h3 {
  color: var(--sec-white);
  font-size: 20px;
  font-weight: 600;
}

.filter_txt p {
  color: var(--sec-white);
  font-size: 16px;
  margin-top: 10px;
}

.filter_box_wrap {
  display: flex;
}

.filter_box_wrap a {
  padding: 25px 30px 25px 122px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: 110px;
  text-align: left;
  color: var(--sec-white);
  background: hsla(0,0%,100%,.2);
  border: 1px solid var(--sec-white);
}

.filter_box_wrap a:first-child {
  margin-right: 30px;
}

.filter_box_wrap .filter_bar_search {
  background-position: -238px 0;
}
.filter_box_wrap .filter_bar_find {
  background-position: -166px 0;
}

.filter_box_wrap a span {
  font-size: 18px;
  font-weight: 600;
}

.filter_box_wrap a p {
  font-size: 14px;
  color: #ccc;
  margin-top: 4px;
}

/* explorer */
.explorer {
  padding: 80px 0 0 0;
  background-color: var(--sec-bg-grey);
}

.explorer_cont_top {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  margin-top: 60px;
}

.explorer_tabmenu {
  display: flex;
  justify-content: space-between;
}

.explorer_tabmenu_txt {
  display: flex;
  align-items: center;
}

.explorer_tabmenu_txt > span {
  font-size: 16px;
  margin-left: 50px;
  color: var(--sec-4-grey);
}

.explorer_tabmenu_list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.explorer_tabmenu_list li {
  border-right: 1px solid #ccc;
}

.explorer_tabmenu_list li:last-child {
  border-right: 0;
}

.explorer_tabmenu_list li button {
  padding: 0 15px;
  color: var(--sec-4-grey);
  font-weight: 500;
  font-size: 16px;
}

.explorer_tabmenu_list li button.active {
  color: var(--sec-light-blue);
}

.explorer_cont_bottom {
  margin: 50px auto 0;
  max-width: 1180px;
  padding: 0 30px;
  width: 100%;
  text-align: left;
}

.explorer_item_wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.explorer_item:not(:first-of-type) {
  display: none;
}

.explorer_item_tit strong {
  display: inline-block;
  margin-right: 35px;
  font-size: 34px;
  color: var(--sec-light-blue);
  vertical-align: middle;
}

.explorer_item_tit .explorer_model_tit {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.explorer_item_tit .explorer_model_tit span {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 600;
}

.explorer_item_txt {
  display: flex;
}

.explorer_item_txt li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 230px;
  text-align: center;
  border-right: 1px solid #ccc;
}

.explorer_item_txt li:last-child {
  border-right: 0;
}

.explorer_item_txt li span {
  color: var(--sec-4-grey);
  margin-bottom: 15px;
  font-weight: 400;
}

.explorer_item_txt li p {
  font-size: 16px;
  font-weight: 600;
}

.explorer_item_btn a {
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--sec-navy);
  color: var(--sec-white);
}

.explorer_item_img {
  margin: 0 auto;
  width: 100%;
}

.explorer_item_img img {
  width: 100%;
}

.explorer_cont_inner {
  width: 100%;
  background-color: #e4dcd3;
}

.explorer_inner_wrap {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0 80px;
}

.explorer_inner {
  display: flex;
  flex-direction: row;
}

.explorer_inner_cont {
  width: calc(100% - 17px);
}

.explorer_inner_cont:first-child {
  margin-right: 34px;
}

.explorer_inner_cont strong {
  display: inline-block;
  width: 15%;
  font-size: 16px;
  font-weight: 600;
}

.inner_box {
  padding: 60px 40px;
  text-align: left;
  background: var(--sec-white);
  box-shadow: 0 1px 20px 10px rgb(0 0 0 / 10%);
}

.inner_box_tit p {
  font-size: 16px;
  margin-top: 15px;
  font-weight: 500;
}

.inner_line_wrap {
  margin-top: 40px;
  padding-bottom: 30px;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}

.inner_line_txt {
  padding: 0;
  margin-top: 30px;
  display: flex;
  position: relative;
}

.inner_line_txt strong {
  padding: 4px 0;
}

.inner_line_txt strong:first-child {
  padding: 0;
}

.inner_line_txt span {
  font-size: 16px;
}

.inner_input_wrap {
  width: 85%;
  cursor: pointer;
}

input[type=range] {
  appearance: none;
  width: 100%;
  height: 4px;
  background: var(--sec-1-grey);
  cursor: pointer
}
input[type=range]:focus {
  outline: none; 
}
input[type=range]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--sec-white);
  border: 6px solid var(--sec-light-blue);
  border-radius: 50%;
}

input[type=range]::-moz-range-thumb{
  appearance: none;
  width:10px;
  height:10px;
  background: #fff;
  border: 1px solid var(--sec-light-blue);
  border-radius: 50%;
  cursor: pointer;
}

#inner_value,
#inner_value2 {
  border: 1px solid #e4dcd3;
  margin-top: 20px;
  padding: 0 20px;
  width: 115px;
  height: 34px;
  text-align: right;
  font-weight: 500;
  font-size: 14px;
}

.input_marks {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-weight: 500;
  font-size: 14px;
}

.inner_txt_wrap {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.txt_input_wrap {
  position: relative;
  display: inline-block;
  width: 85%;
}

#txt_input {
  width: 170px;
  height: 34px;
  border: none;
  background: var(--sec-bg-grey);
  padding: 0 12px;
  appearance: none;
  display: none;
}

.txt_input_select {
  position: relative;
  display: inline-block;
  cursor: pointer;
  top: 4px;
  width: 170px;
  height: 34px;
  background: var(--sec-bg-grey);
}

.select_txt {
  position: absolute;
  top: 7px;
  left: 12px;
}

.txt_input_list {
  display: none;
  position: absolute;
  margin-top: 10px;
  width: 170px;
  height: 136px;
  background: var(--sec-white);
  border: 1px solid #e4e7ed;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  color: var(--);
}

.txt_input_list li {
  padding-left: 12px;
  height: 34px;
  line-height: 34px;
  cursor: pointer;
}

.txt_input_list li:hover {
  background: var(--sec-bg-grey);
}

.dropdown_arrow {
  right: 12px;
  top: 5px;
  height: 100%;
  position: absolute;
}

.arrow::after {
  content: '';
  width: 0;
  height: 0;
  border-color: currentcolor transparent #000;
  border-style: none solid solid;
  border-width: 3px 4px 6px;
  transform: rotate(180deg);
  display: inline-block;
}

.amount {
  position: absolute;
  right: 0;
  top: calc(50% - 18px);
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
}

.price {
  position: absolute;
  right: 0;
  top: calc(100% + 10px);
  height: 40px;
  text-align: right;
  color: var(--sec-4-grey);
  font-weight: 400;
  font-size: 16px;
}

.inner_btn_wrap {
  display: flex;
  justify-content: flex-end;
  padding-top: 60px;
}

.inner_btn_wrap a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 40px;
  padding: 0 26px;
  background-color: var(--sec-navy);
  color: var(--sec-white);
}

.inner_cont {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding-top: 30px;
  border-top: 2px solid #ccc;
}

.inner_cont_left strong {
  display: inline-block;
  width: 82px;
  vertical-align: middle;
}

.inner_cont_left span {
  display: inline-block;
  width: 210px;
  padding: 20px;
  background: var(--sec-bg-grey);
  color: var(--sec-4-grey);
  font-size: 14px;
  font-weight: 300;
}

  .model .inner_img {
  display: inline-block;
  width: 210px;
  padding: 20px;
  background: var(--sec-bg-grey);
}

.model strong {
  vertical-align: top !important;
}

.model p {
  font-size: 14px;
  margin-top: 10px;
  line-height: 26px;
  color: var(--sec-4-grey);
  font-weight: 300;
}

.inner_cont_right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  background: var(--sec-bg-grey);
  text-align: center;
}

.circle_btn {
  position: relative;
  display: block;
  margin: 0 auto 25px;
  width: 36px;
  height: 36px;
  background: #002c5f;
  border-radius: 100%;
}

.circle_btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 7px);
  width: 14px;
  height: 2px;
  background: var(--sec-white);
}

.circle_btn::after {
  content: "";
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 1px);
  height: 14px;
  width: 2px;
  background: var(--sec-white);
}

/* reservation_bar */
.reservation_bar {
  width: 100%;
  padding: 50px 0;
  background: url(../img/bg_main_testdriving.webp) no-repeat;
  background-size: cover;
  background-position: 50%;
  display: flex;
  justify-content: center;
}

.reservation_cont {
  max-width: 1200px;
  width: 100%;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reservation_cont h3 {
  color: var(--sec-white);
  font-size: 20px;
  font-weight: 600;
}

.reservation_cont p {
  color: var(--sec-white);
  font-size: 16px;
  margin-top: 10px;
}

.reservation_box_wrap {
  display: flex;
}

.reservation_box_wrap a {
  padding: 25px 30px 25px 122px;
  display: flex;
  background: hsla(0,0%,100%,.2);
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: 110px;
  text-align: left;
  color: var(--sec-white);
}

.reservation_box_wrap a:first-child {
  margin-right: 30px;
}

.reservation_box_wrap .reservation_box_driving {
  background-position: -382px 0;
}
.reservation_box_wrap .reservation_box_sale {
  background-position: -310px 0;
}

.reservation_box_wrap a span {
  font-size: 18px;
  font-weight: 600;
}

.reservation_box_wrap a p {
  font-size: 14px;
  color: #ccc;
  margin-top: 4px;
}

/* tabmenu2 bluemembers */
/* bluemembers */
.bluemembers {
  padding: 100px;
  height: 500px;
  background:var(--sec-dark-blue);
}

/* event */
#event {
  padding: 80px 0 60px;
}

.event_cont {
  margin-top: 60px;
}

.event_cont_set {
  display: flex;
  justify-content: center;
}

.event_item {
  width: 544px;
  padding: 0 16px;
  text-align: center;
}

.event_item_txt p {
  font-size: 20px;
  margin-top: 40px;
  color: var(--sec-4-grey);
  line-height: 34px;
  font-weight: 600;
}

.event_item_txt .event_item_tit {
  font-size: 28px;
  font-weight: 800;
  margin-top: 20px;
  line-height: 1;
}

.event_item_txt > span {
  display: block;
  margin-top: 30px;
  font-size: 16px;
}

.event_item_txt a {
  display: inline-block;
  line-height: 40px;
  height: 100%;
  margin-top: 30px;
  width: 120px;
  height: 40px;
  font-size: 15px;
  color: var(--sec-white);
  background: var(--sec-navy);
  cursor: pointer;
}

/* new */
#news {
  padding: 80px 0;
  background-color: var(--sec-bg-grey);
}

.news_container {
  padding: 0 60px;
}

.news_tag_wrap {
  width: 100%;
  margin: 60px auto -6px;
  text-align: center;
}

.news_tag {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.news_tag_list button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 13px;
  margin: 0 10px 10px 0;
  width: auto;
  height: 30px;
  border-radius: 15px;
  font-weight: 500;
  background-color: var(--sec-white);
  cursor: pointer;
}

.news_tag_list button.active {
  background-color: var(--sec-light-blue);
  color: var(--sec-white);
}

.news_cont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 60px 0 0 0;
  position: relative;
}

.news_cont_txt {
  width: 25%;
  height: 50%;
  position: relative;
  overflow: hidden;
  border: 0.5px solid var(--sec-white);
}

.news_cont_txt:hover .news_cont_img {
  transform: scale(1.2);
  transition: all .4s ease;
}
.news_cont_txt:hover .news_cont_desc {
  opacity: 1;
}
.news_cont_txt:hover .tag {
  border: 2px solid var(--sec-white);
  background: none;
}

.tag {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 0 13px;
  margin: 0 6px 6px 0;
  top: 30px;
  left: 30px;
  min-width: 59px;
  height: 30px;
  font-size: 14px;
  color: var(--sec-white);
  background: rgba(0,0,0,.5);
  font-weight: 400;
  z-index: 9;
}

.news_cont_img {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  padding-bottom: 100%;
}

.news_cont_img::after {
  content: '';
  background: rgba(0,0,0,.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.news_cont_desc {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  color: var(--sec-white);
  background: rgba(0,44,95,.9);
  transition: all .2s ease;
  font-size: 15px;
}

.news_cont_desc span {
  text-align: center;
}

.news_cont1_1 {
  background-image: url(../img/hqdefault.jpeg);
}
.news_cont1_2 {
  background-image: url(../img/hqdefault2.jpeg);
}
.news_cont1_3 {
  background-image: url(../img/hqdefault3.jpeg);
}
.news_cont1_4 {
  background-image: url(../img/hqdefault4.jpeg);
}
.news_cont1_5 {
  background-image: url(../img/hqdefault5.jpeg);
}
.news_cont1_6 {
  background-image: url(../img/hqdefault6.jpeg);
}
.news_cont1_7 {
  background-image: url(../img/hqdefault7.jpeg);
}
.news_cont1_8 {
  background-image: url(../img/hqdefault8.jpeg);
}

/* footer */
#footer {
  padding: 60px 50px;
  background-color: var(--sec-7-grey);
  color: var(--sec-1-grey);
}

.footer_cont {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

.footer_top {
overflow: hidden;
}

.footer_logo {
  float: left;
  margin-top: 5px;
}

.footer_menu {
  float: left;
  margin-left: 80px;
  overflow: hidden;
}

.footer_menu ul {
  padding-bottom: 10px;
}

.footer_menu ul li {
  display: inline-block;
  margin: 5px 0;
}

.footer_menu ul li a {
  font-size: 14px;
}

.footer_menu ul li:last-child::after {
  display: none;
}
.footer_menu ul li::after {
  content: "";
  width: 1px;
  height: 10px;
  margin: 0 13px;
  display: inline-block;
  vertical-align: middle;
  background-color: var(--sec-6-grey);
}

.service {
  margin-bottom: 5px;
}

.footer_site {
  float: right;
}

.social {
  margin-bottom: 12px;
  color: var(--sec-4-grey);
  display: flex;
}

.social li {
  background: url(../img/ico_social.webp) no-repeat;
  background-size: 100%;
  margin-left: 10px;
}

.social li:first-child {
  margin-left: 0;
}

.social li a {
  display: block;
  width: 30px;
  height: 32px;
}

.social li.facebook {
  background-position: 0 0;
}

.social li.youtube {
  background-position: 0 -30px;
}

.social li.naverpost {
  background-position: 0 -90px;
}

.social li.twitter {
  background-position: 0 -120px;
}

.social li.instagram {
  background-position: 0 -150px;
}

.family_site {
  position: relative;
}

.family_site button {
  width: 100%;
  height: 30px;
  padding: 0 13px;
  border: 1px solid var(--sec-3-grey);
  text-align: left;
  color: var(--sec-1-grey);
}

.family_site button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1em;
  width: 0;
  height: 0;
  margin-top: -2px;
  border: 4px solid transparent;
  border-top-color: var(--sec-3-grey);
}

.footer_bottom {
  margin-top: 40px;
  padding-top: 22px;
  border-top: 1px solid #2a2a2a;
}

.footer_bottom ul {
  display: flex;
  font-size: 12px;
}

.footer_bottom ul li {
  display: flex;
  align-items: center;
  width: 20%;
}

.footer_bottom ul li img {
  width: 40px;
  height: 30px;
}

.footer_bottom ul li span {
  margin-left: 5px;
}

