:root {
  /* Color */
  --sec-light-yellow: #fff3e0;
  --sec-middle-yellow: #ffe0b2;
  --sec-dark-yellow: #ffcc80;
  --sec-superdark-yellow: #ffb74d;

  --sec-light-mint: #e8f5e9;
  --sec-middle-mint: #c8e6c9;
  --sec-dark-mint: #a5d6a7;
  --sec-superdark-mint: #75a478;

  --sec-white: #ffffff;
  --sec-black: #000000;
  --sec-light-blue: #007fa8;
  --sec-dark-blue: #518aa4;
  --sec-navy: #002c5f;
  --sec-1-grey: #999999;
  --sec-2-grey: #888888;
  --sec-3-grey: #767676;
  --sec-4-grey: #666666;
  --sec-5-grey: #555555;
  --sec-6-grey: #444444;
  --sec-7-grey: #1c1b1b;
  --sec-bg-grey: #f6f3f2;
}

button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
}

ul {
  margin-bottom: 0;
}

h2 {
  font-size: 44px;
  font-weight: 700;
  text-align: center;
}

/* skip */
#skip {
  position: relative;
}

#skip a {
  position: absolute; 
  left: 0px; 
  top: -35px; 
  border: 1px solid #fff; 
  color: #fff; 
  background: #002C5F; 
  line-height: 30px; 
  width: 100%;
  text-align: center;
}

#skip a:active,
#skip a:focus {
  top: 0;
}

/* nav */
#nav {
  width: 100%;
  height: 110px;
  border-bottom: 1px solid #e5e5e5;
}

.nav_top {
  border-bottom: 1px solid #e5e5e5;
}

.nav_top_menu {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding: 9px 0;
}

.nav_top_menu_inner a {
  padding: 0 15px;
  font-size: 12px;
  color: var(--sec-light-grey);
}

.nav_top_menu_inner button {
  padding: 0 15px;
  font-size: 12px;
  color: var(--sec-light-grey);
}

.nav_top_menu_inner .btn-link::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 11px;
  margin: -1px 0 0 6px;
  background: url(../img/icon.png) no-repeat;
  background-position: 0 -19px;
  border: none;
}

.nav_top_menu_inner .lan-select::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -2px;
  margin-left: 5px;
  border-top: 5px solid #000;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
}

.nav_top_menu_inner .btn-search::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin-left: 7px;
  background: url(../img/icon.png) no-repeat;
  background-position: 0 0;
  opacity: 0.5;
}

.nav_bottom {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.nav_bottom_menu {
  display: flex;
  align-items: center;
  margin-right: 100px;
}

.nav_bottom_menu_list {
  padding: 0 15px;
}

.nav_bottom_menu_list a {
  padding: 0 15px;
  font-size: 16px;
  color: var(--sec-dark-grey);
}


/* banner */
#banner {
  width: 100%;
  height: 100%;
  position: relative;
}

.banner_wrap.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.banner_set.swiper-slide {
  transform: translateX(-100%);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.banner {
  position: relative;
  width: 100%;
}

.banner_btn_wrap {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 1180px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 4.9vw 30px calc(4.169vw + 78px);
}

.banner_btn {
  display: flex;
  width: 100%;
  margin-top: auto;
}

.banner_btn a {
  width: 120px;
  height: 40px;
  background: var(--sec-navy);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--sec-white);
  font-size: 15px;
  margin-left: 10px;
  text-align: center;
}

.banner_btn a:first-child {
  margin-left: 0;
}

.scrollbar_wrap {
  display: block;
  width: 1120px;
  max-width: calc(100% - 60px);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  margin: 0 auto 42px;
  opacity: 1;
}

.scrollbar {
  overflow: hidden;
  position: relative;
  height: 3px;
}

.banner_wrap:hover .scrollbar {
  overflow: visible;
}

.scrollbar_txt_set {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.scrollbar_txt_set li {
  width: 19.4%;
}

.scrollbar_txt {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: left;
  width: 100%;
  height: 100%;
  padding: 0 9.5% 20px;
  color: var(--sec-2-grey);
  border-bottom: 3px solid var(--sec-5-grey);
}

.scrollbar_txt:hover {
  color: var(--sec-white);
  border-color: #fff;
}

.scrollbar_txt.active {
  color: var(--sec-white);
  border-color: #fff;
}

.scroll_control_btn {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  bottom: -8px;
}

.scroll_control {
  margin-top: 15px;
  position: relative;
  width: 18px;
  height: 18px;
  background: #575757;
  border-radius: 10px;
  vertical-align: middle;
}

.scroll_control::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 3px);
  top: calc(50% - 4px);
  display: block;
  width: 2px;
  height: 8px;
  border: 2px solid #fff;
  border-top: 0;
  border-bottom: 0;
}

.scroll_control.pause::before{
  content: "";
  position: absolute;
  left: calc(50% - 2px);
  top: calc(50% - 4px);
  display: block;
  width: 0;
  height: 0;
  border: 0;
  border-left: 6px solid #fff;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.banner_next {
  right: 0 !important;
  width: 44px !important;
  font-size: 30px;
  color: var(--sec-white) !important;
  background-color: rgba(31,45,61,.4);
}

.banner_prev {
  left: 0 !important;
  width: 44px !important;
  font-size: 30px;
  color: var(--sec-white) !important;
  background-color: rgba(31,45,61,.4);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

/* login */
.login {
  background-color: var(--sec-bg-grey);
}

.login_container {
  max-width: 1120px;
  margin: 0 auto;
  height: 110px;
}

.login_txt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login_txt span {
  font-size: 16px;
  color: var(--sec-4-grey);
  margin-right: 45px;
}

.login_before {
  display: flex;
}

.login_before_inner {
  position: relative;
  padding: 0;
  margin: 0 15px;
  color: var(--sec-navy);
  font-size: 16px;
  font-weight: 600;
}

.login_before_inner:last-child::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -15px;
  display: block;
  height: 14px;
  border-left: 1px solid #999;
  transform: translateY(-50%);
}

/* tab menu */
.tab_menu {
  max-width: 1120px;
  margin: 0 auto;
}

.tab_menu_wrap {
  display: flex;
  width: 100%;
}

.tab_menu_wrap li {
  width: 50%;
}

.tab_menu_btn.active {
  background: #fff;
  color: #000;
}

.tab_menu_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  font-size: 15px;
  font-weight: 600;
  background: var(--sec-6-grey);
  color: var(--sec-white);
}

.tab-content{
  display: none;
}

.tab-content.active{
  display: inherit;
}

/* tabmenu1 newcar*/
/* benefit */
.benefit {
  padding: 80px 0 60px;
}

.benefit_set {
  display: flex;
  height: 490px;
  margin: 60px 21px 0;
}

.benefit_item {
  width: 25%;
  height: 100%;
  margin: 0 9px;
}

.benefit_item_inner {
  display: flex;
  flex-direction: column;
  padding: 35px 38px 30px;
  background: var(--sec-bg-grey);
}

.benefit_item_inner h4 {
  min-height: 105px;
  font-size: 20px;
  font-weight: 800;
}

.benefit_item_inner strong {
  color: var(--sec-light-blue);
  font-size: 24px;
  margin-top: 35px;
  margin-bottom: 18px;
}

.benefit_item_inner p {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 18px;
}

.benefit_btn_wrap {
  display: flex;
  justify-content: center;
}

.benefit_btn_wrap a:first-child {
  margin-right: 10px;
}

.benefit_btn_wrap a {
  width: 120px;
  height: 40px;
  font-size: 15px;
  color: var(--sec-white);
  background: var(--sec-navy);
  display: flex;
  justify-content: center;
  align-items: center;
}




/* lineup */
.lineup {
  padding: 80px 0 0;
  background-color:var(--sec-bg-grey);
}

.lineup_cont {
  max-width: 1180px;
  margin: 30px auto 0;
}

.lineup_tabmenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lineup_tabmenu_list {
  margin: 0 15px;
  min-width: 50px;
}

.lineup_tabmenu_list button {
  width: 100%;
  height: 60px;
  padding: 0 10px;
  align-items: center;
  text-align: center;
  color: var(--sec-4-grey);
}

.lineup_tabmenu_list button.active {
  border-bottom: 4px solid var(--sec-light-blue);
  color: var(--sec-light-blue);
}

.lineup_tabmenu_list button span {
  font-size: 15px;
  font-weight: 500;
}

/* filter_bar */
.filter_bar {
  width: 100%;
  height: 210px;
  padding: 50px 0;
  background-color: var(--sec-light-mint);
}

.filter_cont {
  max-width: 1180px;
  margin: 0 auto;
  height: 110px;
  background-color: var(--sec-middle-mint);
}

/* explorer */
.explorer {
  padding: 80px 0;
  background-color: var(--sec-light-yellow);
}

.explorer_cont {
  max-width: 1180px;
  margin: 50px auto 0;
  height: 562px;
  background-color: var(--sec-middle-yellow);
}

.explorer_cont2 {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 40px auto 0;
  height: 894px;
  background-color: var(--sec-middle-yellow);
}

.explorer_item {
  width: 50%;
  background-color: var(--sec-dark-yellow);
}

.explorer_item:first-child {
  margin-right: 34px;
}

/* reservation_bar */
.reservation_bar {
  width: 100%;
  height: 210px;
  padding: 50px 0;
  background-color: var(--sec-light-mint);
}

.reservation_cont {
  max-width: 1180px;
  margin: 0 auto;
  height: 110px;
  background-color: var(--sec-middle-mint);
}

/* tabmenu2 bluemembers */
/* bluemembers */
.bluemembers {
  padding: 100px;
  height: 500px;
  background:var(--sec-dark-blue);
}

/* event */
#event {
  padding: 80px 0 60px;
  background-color: var(--sec-light-yellow);
}

.event_cont {
  margin-top: 60px;
  height: 630px;
  background-color: var(--sec-middle-yellow);
}

.event_cont_set {
  display: flex;
  justify-content: center;
  background-color: var(--sec-dark-yellow);
}

.event_item {
  width: 544px;
  height: 630px;
  margin: 0 16px;
  background-color: var(--sec-superdark-yellow);
}

/* new */
#news {
  padding: 80px 0;
  background-color: var(--sec-light-mint);
}

.news_container {
  max-width: 1320px;
  margin: 0 auto;
  background-color: var(--sec-middle-mint);
}

.news_cont {
  width: 100%;
  height: 660px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--sec-dark-mint);
}

.news_cont a {
  width: 25%;
  height: 50%;
  padding: 1px;
  background-color: var(--sec-superdark-mint);
}

/* footer */
#footer {
  padding: 60px 50px;
  background-color: var(--sec-light-yellow);
}

.footer_cont {
  max-width: 1120px;
  margin: 0 auto;
  background-color: var(--sec-middle-yellow);
  height: 300px;
}